.footer {
    padding: 180px 0 96px 0;

    & .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    }
    
    &__email {
        font-size: 27px;
        color: #707070;
    }

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 46px;
    }

    &__link {
        color: #707070;
        font-size: 28px;
        transition: 0.4s;

        &:hover {
            color: var(--ternary-color);
        }
    }
}